.App {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
}

.main-container {
  width: 80vw;
  height: 80vh;  
  padding-top: 5em;
}

.logo {
  position: absolute; 
  top: 0; 
  left: 100vh; 
  width: 60px;
  height: 59px;
}

.video-and-btn-container {
  margin-top: 2em; 
  display: flex; 
  flex-direction: column; 
  align-items: center;
}

.search-bar {
  display: flex;
}

.search-bar__input {
  height: 30px;
  font-size: 1.2em;
}

.search-bar__drop-down {
  display: flex;
  flex-direction: column;
  margin-left: 5em;
  width: 400px;
}

.drop-down__list {
  width: 400px;
  height: 200px;
  border: 2px solid black;
  color: black;
  background: none;
  display: flex;
  flex-direction: column;
}

.drop-down__btn-video {
  text-align: left;
  text-transform: capitalize;
  background-color: white;
  border: none;
  padding: .3em;
  font-size: 1.2em;
} 

.search-button {
  height: 35px;
  font-size: 1.2em;
}

.video {
  display: flex; 
  justify-content: center;
}

.next-btn {
  margin-top: 2em; 
  margin-left: 8em;
  font-size: 1.2em;
}

.previous-btn {
  margin-top: 2em;
  margin-right: 8em;
  font-size: 1.2em;
}

.side-bar-container {
  width: 20vw; 
  height: 90vh; 
  float: right; 
  padding: 0 .3em;
}

.sidebar-links {
  display: flex; 
  flex-direction: row; 
  justify-content: space-evenly; 
  margin-top: 2em;
}

.list-of-videos-sidebar {
  display: flex;
  flex-direction: column;
  justify-content: left;
  position: relative; 
  width: 24em; 
  height: 80vh; 
  float: right; 
  margin-top: 1em; 
  padding: 0 .3em; 
  border: 2px solid black; 
  text-align: left;
}

.list-favorites {
  color: red; 
  font-weight: bold;
}

.btn-favorites {
  font-size: 1.2em;
  background-color: white;
}

.btn-all-videos {
  font-size: 1.2em;
}

.btn-video-name {
  width: 22rem; 
  height: 2em; 
  border: none; 
  background-color: white; 
  text-align: left;
  font-size: 1.2em;
}

.btn-heart {
  padding-top: .3em; 
  width: 30px; 
  height: 20px; 
  border:none; 
  background-color: white;
}